In [1]:
1+1

2

In [2]:
a = [1,2,3,4,5]

合計とは?
S=0とする
Sに1を加える
Sに2を加える
・・・
Sに5を加える

In [4]:
S=0


S = S + 1
S = S + 2
S = S + 3
S = S + 4
S = S + 5

S

15

In [7]:
a = [1,2,3,4,5]

for p in a:
    print(p)

1
2
3
4
5

リストaの各要素をpと呼び pをpintする

In [9]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [10]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

for retsuri in list_tohoku:
    print(retsuri)

5349
5478
5344
4644
4968
6259

In [11]:
s=0

for x in a:
    s=s+x

s

15

In [12]:
a

[1, 2, 3, 4, 5]

In [15]:
s=0

for x in a:
    s=s+x

s/len(a)

3.0

In [14]:
avg_tohoku = 0.0

for val in list_tohoku:
    avg_tohoku += val
    
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

In [17]:
s = 0.0

for val in list_tohoku:
    s += val    
s /= len(list_tohoku)

print(s)

5340.333333333333

In [18]:
list_shikoku = [3148, 2991, 2966, 2457]

s = 0
for x in list_shikoku:
    s += x

s/len(list_shikoku)

2890.5

In [19]:
from statistics import *

In [20]:
mean(list_shikoku)

2890.5

In [21]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [22]:
for val in dict_tohoku:
    print(val)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [23]:
for retsuri in dict_tohoku:
    print(retsuri)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [24]:
for val in dict_tohoku:
    print(dict_tohoku[val])

5349
4644
5344
4968
6259
5478

In [25]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [27]:
s = 0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s += dict_tohoku[x]


s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

↑98

・練習問題
1.[5,4,3,2]の平均
2.{'A':10,'B'100,'C':1000}の値の平均
3.{10:'A',100:'B',1000:'C'}のキーの平均

In [28]:
a=[5,4,3,2]
s=0

for x in a:
    s += x
    
s/len(a)

3.5

In [29]:
mean(a)

3.5

In [31]:
a={'A':10,'B':100,'C':1000}
s=0

for x in a:
    s += a[x]
    
s/len(a)

370.0

In [33]:
mean(a.values())

370

In [35]:
s = 0

for x in a.values():
    s += x
    
s/len(a)

370.0

In [36]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [38]:
mean(dict_tohoku.values())

5340.333333333333